<%= form_for(@current_user) do |f| %>
  <% if @current_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@current_user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @current_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Update", class: "button success" %>
    <a class="button warning" href="<%= user_path(@current_user) %>">Cancel</a>
  </div>
<% end %>
