<!DOCTYPE html>
<html>
  
	<head>
    <title><%= @user.first_name %></title>
	</head>
  
	<body id="profilePage">

		<div id="profileUserInfo">
      <p><%=image_tag avatar_url(@user)%></p>
      <!-- <p>Nice to see you, <%= session[:user_first_name] %>.</p> -->
      <p>
      <%="#{ @user.first_name } #{ @user.last_name }"%>
      </p>
      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
      <% if @user == @current_user %>
        <a class="button small radius" href="<%= edit_user_path(@current_user) %>">Edit My Account</a>
      <% end %>
    </div>
    
		<div id="profileUserReviews">
      
      <% @user.reviews.each do |review| %>
        <div class="panel">
          <a href="<%= roast_path(review.roast) %>">
            <h4><%= review.roast.coffee_name %></h4>
          </a>
          <a href="<%= review_path(review) %>">
            <h5>Reviewed <%= DateTime.parse(review.created_at.to_s).strftime(format='%A, %d %B') %></h5>
          </a>
          <p><%= review.body %></p>
            <a class="button tiny radius" href="<%= edit_review_path(review) %>">Edit</a>
        </div>
      <% end %>
      
    </div>
	</body>
</html>
