<p id="notice"><%= notice %></p>
<% session[:user_id]%>
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if current_user != false %>
  <% if current_user == @user %>
	<%= link_to 'Edit', edit_user_path(@user) %>
  <% end %>
<% end %>

<%= link_to 'Back', users_path %>
