<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @roast.color %>
</p>

<p>
  <strong>Type:</strong>
  <%= @roast.type %>
</p>

<p>
  <strong>Coffee name:</strong>
  <%= @roast.coffee_name %>
</p>

<p>
  <strong>Roaster:</strong>
  <%= @roast.roaster %>
</p>

<%= link_to 'Edit', edit_roast_path(@roast) %> |
<%= link_to 'Back', roasts_path %>
