<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rating %><br>
    <%= f.select(:rating, options_for_select([['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5 - Best', '5']])) %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :roast_id %><br>
    <%= f.select(:rating, options_for_select([['Blue Bottle Coffee, Burundi Kayanza Ninga', '2'], ['Blue Bottle Coffee, Colombia Granja Esperanza Gesha AAA', '7'], ['Blue Bottle Coffee, Ethiopia Homacho Waeno', '6'], ['Blue Bottle Coffee, Honduras Cerro Gacho', '18'], ['Blue Bottle Coffee, Rwanda  Kirezi', '8'], ['Blue Bottle Coffee, Three Africans', '15'], ['Blue Bottle Coffee, Rwanda Nyanza Kirezi', '1'], ['Equator Coffees & Teas, Brazil Bela Vista Micro-Lot', '14'],  ['Equator Coffees & Teas, Ecuador El Batan Fiar Trade Organic', '20'],  ['Equator Coffees & Teas, Panama Finca La Mula Geisha Natural', '16'], ['Equator Coffees & Teas, Lintong Tano Batak', ' '], ['Four Barrel Coffee, Rwanda Cotecaga Bourbon', '9'],  ['Linea Caffe S.F., Brazil Fazenda Sertaozinho', '13'], ['Mr. Espresso, Colombia El Bado', '11'], ['Mr. Espresso, Ethiopia Yirgacheffe Kochere Aricha', '17'], ["Peet's Coffee & Tea, Colombia Luminosa", '5'], ['Ritual Coffee Roasters, Brazil Yellow Catuai Esperança Joao', '12'], ['Ritual Coffee Roasters, Wolf Moon Seasonal Espresso', '3'], ['San Francisco Bay Coffee, Reserve 100% Panama Geisha', '4'], ['Sightglass Coffee, Colombia Finca Monte Verde, Gildardo', '10']])) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
