<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <div class="star">
  <%= render_stars(@review.rating) %>
  </div>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user.first_name %> <%= link_to @review.user.last_name, @review.user %>
</p>

<p>
  <strong>Roast:</strong>
  <%= @review.roast.roaster %>  <%= link_to @review.roast.coffee_name, roast_path(@review.roast) %>
</p>

<% if current_user == @review.user %>
<%= link_to 'Edit', edit_review_path(@review) %>
      <% end %> |
<%= link_to 'Back', reviews_path %> |
<% if current_user == @review.user %>
<%= link_to 'Destroy', @review, method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>


  <!-- %= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
