<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <div class="star">
  <%= render_stars(@review.rating) %>
  </div>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user.first_name %> <%= link_to @review.user.last_name, @review.user %>
</p>

<p>
  <strong>Roast:</strong>
  <%= @review.roast.roaster %>  <%= link_to @review.roast.coffee_name, roast_path(@review.roast) %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %> 
<%= link_to 'Delete', edit_review_path(@review)%>
