<% session[:user_id]%>
<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Roast Review</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><%= link_to "Coffee Roasts", roasts_path %></li>
        <% if logged_in? %>
        <li class="active"><%= link_to "Post", new_review_path %></li>
        <li class="has-dropdown">
          <a href="#">Account</a>
          <!-- <a href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Account</a><br> -->
            <ul class="dropdown">
              <li><%= link_to "Profile", "users_path(current_user.id)" %></li>
              <li><%= link_to "Log Out", logout_path %></li>
            </ul>
        </li>
        <% else %>
        <li><%= link_to "Log In", login_path %></li>
        <li><%= link_to "Signup", new_user_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>
