<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Roastreview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if session[:user_id] %>
    <%= render 'layouts/header_loggedin' %>
  <% else %>
    <%= render 'layouts/header_loggedout' %>
  <% end %>
  <section class="main-section">
    <div id="mainContent" class="large-12 columns">
      <%= yield %>
    </div>
<footer>
</footer>
  </section>
<a class="exit-off-canvas"></a>   
</div>
</body>
</html>
